head,body{
font-family:montserrat;}


#search{
width:40%;
margin-left:20px;}

h1{
text-align:center;
color:black;
}


h5 {
color: #0074D9;
float:right;
font-weight:bold;
}
p.card-text,p.dat {
text-align:right;

}

.card{
min-width: 68rem;
background-color:#F7F7F7;
height:170px;
}

#im{
width:85px;
height:70px;
float:left;
margin-top:30px;
}


#po{
display:inline;
margin-left:100px;
position:relative;
bottom:0px;
}

#dat{
margin-left:200px;
position:relative;
bottom:0px;
}

#dt{
position:relative;
top:50px;
left: 200px;
}
.col-md-4{
margin-left:100px;
}
h6{
font-weight:bold;
}
@media only screen and (max-width: 775px){
.card{
min-width:47.5rem;
background-color:#F7F7F7;
height:160px;
z-index:2;
}
#dt{
display:none;
}
}

@media only screen and (max-width: 430px){

h1{
color: #0074D9;
}
.card{
min-width:18.125rem;
background-color:#F7F7F7;
height:160px;
z-index:2;
}

.sharethis-inline-share-buttons{
z-index:2;
}
#po{
display:inline;
margin-left:190px;
position:relative;
bottom:55px;
}

#dat{
margin-left:190px;
position:relative;
bottom:55px;
}
#dt{
display:none;
}
.col-md-4{
margin-left:1px;
}

}