<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends "base.html" %}
    {% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style_detail.css' %}" media="all" type="text/css">
</head>
<body>
<section>
    <h3>{{ post.title }}</h3>
   <small>
        {{ post.created_on.date }} &nbsp;
        {% for category in post.categories.all %}
       <h5> Type:&nbsp;
       {{ category.name }}</h5>&nbsp;
       <h5>{{ post.lieu | linebreaks }}</h5>
        {% endfor %}

    </small>
  <div>
      <p>{{ post.body | linebreaks }}</p>
    <form action="/blog/{{post.pk}}/formulaire/" method="get"><br>
        <div>
        <button type="submit" class="btn btn-primary">Postuler</button>
        </div>
    </form>
  </div>
</section>
<br>
</body>
{% endblock %}
</html>