<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends "base.html" %}
    {% block content %}
     {% load static %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" href="{% static 'style_contact.css' %}" media="all" type="text/css">
    <title>Contact Us</title>
</head>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="mx-auto my-4 text-center">
    <h5>Soumettre votre courriel:</h5>
</div>
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <input class="btn btn-success my-3" type="submit" value="Soumettre">
    </form>
</div>

</body>
{% endblock %}
</html>